INDEX
<!-- <!-- <!-- <div class="banner black-background">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p><%= link_to "New cocktail", new_cocktail_path, class: "white-text btn-medium"%></p>
 <!--    <a href="#" class="btn-medium">Write a story</a> -->

  </div>
</div> --> --> -->

