

<header id="topnav">
  <div class="inner">
    <div class="logo">Cocktails</div>
    <nav role='navigation'>
      <ul>
        <li><%= link_to "Cocktails", cocktails_path %></li>
        <li><%= link_to "New cocktail", new_cocktail_path%></li>
      </ul>
    </nav>
  </div>
</header>
